.filter-wrap {

}
.filter-option .checkbox input[type="checkbox"] {
	margin-right: 10px;
}
.filter-option label { font-weight: normal; }


/* Small devices (Smartphones, 240px and up) */
@media (max-width: 479px){
	.filter-option label { cursor: pointer; font-size: 18px; }
}

/* Small devices (Smartphones, 480px and up) */
@media (min-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.filter-option label { cursor: pointer; font-size: 14px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}