@kittyColor : #e994be;
@kittyDarkColor : #e75095;
@goGreenColor : #60c560;//#006959;

body {
	background-color:#fef6fa !important;
}

#parko-navbar,
body.sidebar-nav .navbar .container-fluid.top-bar {
	background-color:@kittyDarkColor;
	color:white;
}

@media (max-width:480px) {
	.parkko-logo {
		float:right;
	}
}


#parko-topbar a,
#parko-topbar .nav > li > a,
#parko-topbar .nav > li .caret {
	color:white;
}

#parko-topbar .nav > li .caret {
	border-top-color:white;
}

#parko-navbar .nav-collapse .nav > li > a {
	color:@kittyDarkColor;
	border-bottom-color:@kittyDarkColor;
}

#parko-navbar .nav-collapse .nav > li > a.current,
#parko-navbar .nav-collapse .nav > li > a.current span {
	color:black;
}

.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current,
.navbar .container-fluid.main-nav .nav-collapse .nav > li > a:hover,
.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.current span {
	color:@kittyColor;
}



.parkko-logo {
	font-size:20px;
	line-height:44px;
}

.parking-spot {
	margin-bottom:20px;

	-webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.parking-spot,
.parking-spot:hover,
.parking-spot:active,
.parking-spot:focus {
	display: block;
	width:100%;
	height:200px;
	background:@goGreenColor;
	text-align: center;
	font-size:48px;
	color:white;
	line-height:200px;
	position:relative;
	text-decoration: none;


}
	

.parking-spot:hover {
	background:darken(@goGreenColor, 20%);
	
	

}

.parking-spot .label-ladyparking {
	display: none;
}

.parking-spot:hover,
.parking-spot:active {
	color:white;
}

.parking-spot.ladyparking {
	background:@kittyColor;
}

.parking-spot.ladyparking .label-ladyparking {
	display: block;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	z-index:1;
	font-size:14px;
	line-height:14px;
}