body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.clearpadding { padding: 0px; }
.clearfix { clear: both; }
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}



a,
a:hover,
a:visited,
a:active {
  color: #333;
}

.wrapper-inner {
  max-width: 1180px;
  width: 1180px\9;
  margin:0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.font-dtac2013 {
  font-family: "dtac2013";
  font-style: normal;
  font-weight: normal;
}

.font-dtacTopic {
  font-family: "dtac2013_bl";
  font-style: italic;
  font-weight: normal;
}

.font-italic {
  font-family: "dtac2013_bl";
  font-style: italic;
  font-weight: normal;
}

.font-c-blue {
  color: #0091d2;
}
.font-c-gray {
  color: #666;
}
.font-c-white {
  color: #FFF;
}

#dtac-body {
  min-height: 100px;
}

/**************
Typography
***************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "dtac2013", Tahoma, Arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1, .h1 { font-size: 32px; }
h2, .h2 { font-size: 24px; }
h3, .h3 { font-size: 22px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 16px; }
h6, .h6 { font-size: 14px; }

h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}

.font-small {
  font-size: 13px;
}

/**************
header article
**************/
.article-title {
  padding:30px 0px;
  display:table;
  width:100%;
  max-width:100%;
  overflow: hidden;
}
.article-title > div {
  display:table-row;
  line-height:1.5em;
  white-space:nowrap;
}
.article-title h1 {
  display:table-cell;
  vertical-align:middle;
  width:1px;
  table-layout:fixed;
  padding-right: 10px;
  font-size: 22px; 
}
.article-title .continue {
  overflow: hidden;
  display: table-cell;
  vertical-align:middle;
  width:1px;
  table-layout:fixed;
  padding-left: 10px;
}
.article-title span.spacer {
  display: table-cell;
}
.article-title span.spacer:after {
  display:inline-block;
  width:100%;
  content:".";
  font-size:0;
  color:transparent;
  height:2px;
  background:#0091d2;
  vertical-align:middle;
  position:relative;
  top:-1px;
}
.article-title span.bg-white:after { background: #FFF; }

/**************  Bottom  ***************/
.btn:hover {
  text-decoration: underline;
}

.btn-lg {
  border-radius:0px !important;
}

.product-btn-bg {
  margin-top: 30px;
  margin-bottom:10px;
  max-width: 300px;
}

.register-btn {
  margin:20px 0px;
}

.btnRegister {
  padding-right: 50px;
  max-width: 300px;
  width: 100%;
  text-align: left;
  font-size: 26px;
}
.btnRegister:hover,
.btnRegister:active,
.btnRegister:visited {
  color: #FFF;
}

.btnDtac {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #83007A),
    color-stop(0.7, #FC007A)
  );
  background: -o-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: -moz-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: -webkit-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: -ms-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: linear-gradient(to right, #83007A 0%, #FC007A 70%);
  border:0;
  color: #FFF;
}

.btnBuyonline {
  color: #FFF;
  width: 100%;
  font-size: 18px;
  display: block;
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #83007A),
    color-stop(0.7, #FC007A)
  );
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, -o-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, -moz-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, -webkit-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, -ms-linear-gradient(right, #83007A 0%, #FC007A 70%);
  background: url("/media/images/dtac-store-shopping.png") right center no-repeat, linear-gradient(to right, #83007A 0%, #FC007A 70%);
}
.btnBuyonline:hover,
.btnBuyonline:active,
.btnBuyonline:visited
{
  color: #FFF;
}

a.morelink,
a.morelink:active,
a.morelink:visited
{
  font-size: 16px;
  color: #333;
  margin:10px 0px;
}
a.morelink:hover {
  text-decoration: underline;
  color: #1AB7EA;
}

/*------------------------------------*
$Button more detail
*------------------------------------*/
.more {
  background: url("/media/images/arrow-lg.png") no-repeat 0px 0px;
  display: inline-block;
  display: block\9;
  float: left\9;
  padding-right: 15px;
}
.more-xs {
  line-height: 20px;
  height: 20px;
  background-size: 20px 20px;
  padding-left: 30px;
  font-size: 14px;
}
.more-md {
  line-height: 30px;
  height: 30px;
  background-size: 30px 30px;
  padding-left: 40px;
}

.more-lg {
  line-height: 60px;
  height: 60px;
  background-size: 60px 60px;
  padding-left: 70px;
}


/*****************
slider
*****************/
.swiper-container {
  height: 520px;
  width: 100%;
  max-height: 520px;
  overflow: hidden;
}

.swiper-pagination {
  position: relative;
  bottom: 30px;
  padding: 0px;
  z-index: 10000;
  clear:both;
  text-align: center;
  display:;
}
.swiper-pagination-switch {
  width: 12px;
  height: 12px;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  display: block\9;
  float: left\9;
  margin:0px 3px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  zoom: 1;
}
.swiper-pagination-switch:first-child {
  margin-left: 0px;
}
.swiper-pagination-switch.swiper-active-switch {
  background: #ff0079;
  cursor: default;
}
.swiper-pagination-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.service-wrapper {
  padding:30px 0px;
}


/*---------------------
Slider
------------------*/
.slide-desc {
  color: #FFF;
}
.slide-image .img-price {
  /*position: absolute;
  top: 30%;
  */
  float: left;
  margin-left: 15px;
  margin-top: -100%;
}
.slide-image .img-mobile { float: left; margin-left: -5px; margin-top: -5px;}
.slide-desc .txt-brand { display: none; }

.slide-inner {
  max-width: 1180px;
  padding-left:10px;
  padding-right:10px;
  margin:0px auto;
}
.slide-inner > div {
  position: relative;
}

.swiper-slide a.more,
.swiper-slide a.more:active,
.swiper-slide a.more:visited {
  color: #FFF;
}
.swiper-slide a.more:hover {
  color: #FFF;
}

.samsung-bg {
  background:url('/w_files/banner/slider1/bg.jpg') no-repeat center center;
  background-size: cover;
}

/* Small devices (Smartphones, max 479px) */
@media (max-width: 479px){
  .wrapper-inner { padding-top: 45px; }
  .article-title h1 { display:inline; white-space: normal; }
  .slide-inner > div:first-child { padding-top: 35px; overflow: hidden; }

  .col-xxs-6 { width: 50%; float: left; }
  .col-xxs-12 { width: 100%; display: block; }

  /*----- Slider -------*/
  .slideimg-left-default { 
    z-index: 2;
    position: absolute;
    right: 0px;
    height: 100%;
  }

  .slide-desc { color: #333; }
  .swiper-container {
    width:100%;
    height: auto;
  }
  .slide-image {
    position: relative;
    height: 220px;
    overflow: hidden;
  }
  .slide-image .img-price {
    left: 20px;
    z-index: 10;
  }

  .slide-desc {
    margin-top: 0px;
    padding:20px 30px;
    background: #FFF;
    color: #666;
  }
  .slide-desc .img-brand { display: none; }
  .slide-desc .txt-brand { display: block; }
  .slide-desc h1 {
    font-style: italic;
  }

  .btn-more-store {
    color: #333;
  }

  .slide-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .slide-inner .left-box {
    height: 220px;
    padding-left:0px;
    padding-right:0px;
  }
  .slide-inner .right-box {
    height: 380px;
    padding-left:0px;
    padding-right:0px;
    background-color: #FFF;
  }

  .keyword-desktop { display: none; }
  .keyword-mobile { display: block; }

  .samsung-bg {
    background-position: left top;
    background-size: auto 250px;
  }
  .swiper-slide a.more,
  .swiper-slide a.more:hover,
  .swiper-slide a.more:active,
  .swiper-slide a.more:visited {
    color: #333;
  }

  .swiper-pagination-switch { background: #bbb; }
}

/* Small devices (Smartphones, 480px and up) */
@media (min-width: 480px) {
  .wrapper-inner { padding-top: 80px; }
  .slide-inner > div { padding-top: 80px; }
  .keyword-desktop { display: block; }
  .keyword-mobile { display: none; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper-inner { padding-top: 0px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .slide-inner > div { padding-top: 110px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
